<div class="container">
  <%# <div class="banner-letters">
    <h1>JoinPeople</h1>
    <h3> Encuentra el mejor espacio que se adapte a tus necesidades para tus encuentros y eventos </h5>
    <div class="m-10 align-items-center">
      <%= render "shared/search" %>
    <!-- </div>
    <div class="banner" url(https://ibb.co/2PrCnNd);">
    </div>
  </div>
</div> -->

<div class="card bg-light text-black">
  <img src="https://i.ibb.co/vhv7S1L/s-o-c-i-a-l-c-u-t-ww8hlj-WABIE-unsplash.jpg" class="card-img"
   style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)); max-height: 20rem">
  <div class="card-img-overlay">
    <h1 class="card-title-dark">JoinPeople</h1>
    <h3 class="card-text">Encuentra el mejor espacio que se adapte a tus necesidades para tus encuentros y eventos</h3>
    <br>
    <br>
    <div class="d-flex">
      <div class="align-items-center"><%= render "shared/search" %></div>
    </div>
  </div>
</div>
<br>
