<div class="container">
  <h1 class="mt-10 mb-6">JoinPeople</h1>
  <h5>Encuentra el mejor espacio del valle de Aburra</h5>
  <h2>Nuestros espacios</h2>
  
    <% @places.each do |place| %>
      <%= link_to place_path(place), class: 'place' do %>
        <%# <% image_tag place.photos.each do |photo| %>
        
          <div class="card-body">
            <h5 class="card-title"><%= place.title %>  (<%= place.category %>)</h5>
            <p class="card-text"><%= place.description %></p>
          </div>
        <%# <% end %>
      <% end %>        
    <% end %>
</div>
