<div class="container">
  <%# <div class="row gy-4">
    <h1 class="mt-10 mb-6">JoinPeople</h1>
    <h3 class="mb-3"> Encuentra el mejor espacio que se adapte a tus necesidades para tus encuentros y eventos </h5>
  </div> %>
  <%= render "shared/banner" %>

  <%= render "shared/cards" %>

</div>
